<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pupil confirmation</title>
</head>
<body>

    <h2>Pupil form</h2>
    <br><br>
    The pupil is: <span th:text="${pupil.firstName} + ' ' + ${pupil.lastName}"></span>.
    <br>
    This is a <span th:text="${pupil.sex}"></span>.
    <br>
    Pupil from <span th:text="${pupil.city}"></span>.
    <br>
    Pupil favorite drink: <span th:text="${pupil.favoriteDrink}"></span>.
    <br>
    Pupil favorite cars:
<!--    just list-->
<!--    <span th:text="${pupil.favoriteCars}"></span>.-->

<!--    marked list-->
<!--    <ul>-->
<!--        <li th:each="oneCar : ${pupil.favoriteCars}" th:text="${oneCar}"></li>-->
<!--    </ul>-->
<!--    nums list-->
    <ol>
        <li th:each="oneCar : ${pupil.favoriteCars}" th:text="${oneCar}"></li>
    </ol>
    <br>

</body>
</html>