<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<h2>Meow!</h2>
<p>
    User: <span sec:authentication="principal.username"></span>
    <br>
    Roles: <span sec:authentication="principal.authorities"></span>
</p>

<hr>
<div>
    <span>You so cute meow!</span> <br>
    <span>You so nice meow!</span> <br>
    <span>You so faaaat meow)</span>
</div>
<hr>

<form action="#" th:action="@{logout}" method="post">
    <input type="submit" value="Exit">
</form>

</body>
</html>